fastapi
uvicorn
python-multipart
PyMuPDF
transformers
torch
faiss-cpu
langchain
langchain-community
langchain-huggingface
sentence-transformers
motor
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
dnspython
