fastapi
uvicorn
python-multipart
PyMuPDF
transformers
torch
faiss-cpu
langchain
sentence-transformers
motor             # MongoDB async driver
python-jose[cryptography]  # JWT handling
passlib[bcrypt]   # password hashing
python-dotenv     # environment variables
dnspython         # for MongoDB Atlas DNS support
